.infoMessage{
    padding-left: 10px;
    color: lightgray;
    text-shadow: 1px 1px 2px black;
}

.msger-inputarea {
    display: flex;
    padding: 10px;
  }
  
  .msger-input {
    flex: 1;
    background: white;
    box-shadow: 4px 4px 10px black;
    border-radius: 5px;
  }
  
  .msger-send {
    margin-left: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 5vw;
    transition: width 1s, height 1s;
    text-shadow: 1px 1px 2px black;
    box-shadow: 4px 4px 10px black;
    border-radius: 5px;
  }
  
  .msger-send:hover {
    width: 10vw;
  }
  