.inputBox {
  display: flex;
  padding: 10px;
}

.input {
  flex: 1;
  background: white;
  box-shadow: 4px 4px 10px black;
  border-radius: 5px;
  min-height: 1.5em;
}

.send {
  margin-left: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  min-width: fit-content;
  min-height: 2em;
  width: 2em;
  height: 2em;
  transition: width 0.5s, height 0.5s;
  text-shadow: 1px 1px 2px black;
  box-shadow: 4px 4px 10px black;
  border-radius: 5px;
}

.send:hover {
  width: 5vw;
  height: 3vw;
}
